multiSession
tei.json
web/logs
web/*.pem
web/*.gz
web/log-node
web/logs/
web/node_modules/
web/service-log
web/static/jquery*
web/static/transcripts/*.xml
web/static/transcripts/history/*
junk/*
web/tmp*
web/data/en_full.txt
nla*.xml
web/x
web/x1
web/y
web/static/eval/nla.obj-*
web/static/summaryGenerationTests/*
web/uploads/*
web/package-lock.json
web/package.json
web/x
web/x
